<header>
	<a href="/" id="logo">Eatwell</a>
	<nav>
		<ul>
			<li><a href="recommend">Browse Restaurants</a></li>
			<li><a href="restaurants">Share Restaurants</a></li>
			<li><a href="about">About Eatweel</a></li>
		</ul>
		</nav>
		<button id="drawer-btn">
			<span></span>
			<span></span>
			<span></span>
		</button>
</header>