<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('includes/head') %>
	<script src="/scripts/responsive.js" defer></script>
	<title>Eatwell</title>
</head>
<body>
	<%- include('includes/header') %>
	<%- include('includes/aside-drawre') %>

	<main>
		<h1>Make the world a tastier place!</h1>
		<p>Share your favorite restaurants or find recommendations of other users!</p>
        <nav id="main-content">
			<ul>
				<li><a href="recommend">Browse Restaurants</a></li>
				<li><a href="restaurants">Share Restaurants</a></li>

			</ul>
		</nav>

	</main>
	
</body>
</html>